<a href="https://colab.research.google.com/github/Kaiziferr/machine_learning/blob/main/DT/sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/Kaiziferr/datasets/main/diabetes.csv')
data.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

# **Muestreo Aleatorio**
---

In [5]:
aleatorio = data.sample(n=5)
aleatorio

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
659,3,80,82,31,70,34.2,1.292,27,1
633,1,128,82,17,183,27.5,0.115,22,0
211,0,147,85,54,0,42.8,0.375,24,0
696,3,169,74,19,125,29.9,0.268,31,1
763,10,101,76,48,180,32.9,0.171,63,0

In [6]:
aleatorio = data.sample(n=5)
aleatorio

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
294,0,161,50,0,0,21.9,0.254,65,0
738,2,99,60,17,160,36.6,0.453,21,0
669,9,154,78,30,100,30.9,0.164,45,0
247,0,165,90,33,680,52.3,0.427,23,0
722,1,149,68,29,127,29.3,0.349,42,1

In [10]:
aleatorio = data.sample(frac=0.25)
aleatorio.shape, data.shape

((192, 9), (768, 9))

# **Muestreo sistematico**
---
No es posible determinar una función para todos los casos, ya que el muestreo sistematico dependera de la regla que se usara como condición.

In [12]:
def systematic_sampling(data, step):
  indexes = np.arange(0, len(data), step=step)
  systematic_sample = data.iloc[indexes]
  return systematic_sample

systematic_sample = systematic_sampling(data, 3)
systematic_sample

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
3,1,89,66,23,94,28.1,0.167,21,0
6,3,78,50,32,88,31.0,0.248,26,1
9,8,125,96,0,0,0.0,0.232,54,1
12,10,139,80,0,0,27.1,1.441,57,0
...,...,...,...,...,...,...,...,...,...
753,0,181,88,44,510,43.3,0.222,26,1
756,7,137,90,41,0,32.0,0.391,39,0
759,6,190,92,0,0,35.5,0.278,66,1
762,9,89,62,0,0,22.5,0.142,33,0
765,5,121,72,23,112,26.2,0.245,30,0

# **Muestreo estratificado**
---

In [19]:
data = pd.read_csv('https://raw.githubusercontent.com/Kaiziferr/datasets/main/cryptojacking.csv')

In [34]:
data['estratificado'] = data['First_Protocol'] + "," + data['Type'].astype('str')
(data['estratificado'].value_counts() / len(data)).sort_values(ascending=False)

TCP,3    0.334861
TCP,0    0.197744
TCP,1    0.170955
TCP,5    0.094114
TCP,2    0.087064
TCP,4    0.067677
UDP,0    0.047585
Name: estratificado, dtype: float64

1. TCP,3    0.4
2. TCP,0    0.2
3. TCP,1    0.2
4. TCP,5    0.05
5. TCP,2    0.05
6. TCP,4    0.05
7. UDP,0    0.05